.mainArea {
  width: 926px;
  max-width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.searchArea {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.searchBar {
  all: unset;
  text-align: left;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 50px;
  width: 70%;
  border-radius: 15px;
  border: 1px solid var(--text);
  background: var(--bg);
  color: var(--text-h);
  transition: background 0.2s ease, color 0.2s ease;
}

.searchBar:hover {
  background: var(--other-bg);
  color: var(--text-other);
  border: 1px solid var(--text-other);
}

.filtersToggle {
  all: unset;
  padding: 10px 20px;
  box-sizing: border-box;
  background: var(--other-bg);
  color: var(--text-other);
  border: 1px solid var(--text-other);
  border-radius: 15px;
  transition: background 0.2s ease, color 0.2s ease;
}

.filtersToggle:hover {
  border: 1px solid var(--text);
  background: var(--bg);
  color: var(--text);
}