.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;


    border-radius: 15px;
    background: black;
    gap: 1px;
    outline: 1px solid black;
}

.cellTitleName {
    background: var(--bg-translucent);
    border-top-left-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px;

}

.cellTitleElo {
    background: var(--bg-translucent);
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: 10px 10px;

}

.cell {
    background: var(--bg);
    box-sizing: border-box;
    padding: 10px 10px;
    
}

